@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #DAFDBA;
    --cor02: #9AEBA3;
    --cor03: #45C4B0;
    --cor04: #13678A;
    --cor05: #012030;
    

    --font-hs: 'Montserrat', cursive, sans-serif;
    --font-p: 'Archivo', cursive, sans-serif;
}

body {
    background-color: var(--cor01);
    font-family: var(--font-p);
}

header {
    background: linear-gradient(to bottom, var(--cor02), var(--cor03));

    min-height: 10px;

    padding-top: 40px;
    padding: 10px;  

    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.37) ;

}


header h1 {
    color:var(--cor01);
   
}

header p{
    color: var(--cor05);
    padding-top: 5px;  
     
}



header img {
    border-radius: 200px;
}

main {
    background-color: white;
    width: 90%;

    min-width: 300px;
    max-width: 1200px;
   

    margin: auto;
    margin-bottom: 30px;

    padding: 10px;
    padding-bottom: 20px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.295);
}

main h1 {
    margin-bottom: 10px;
    padding: 5px;
    color: var(--cor04);

    background: linear-gradient(to right, var(--cor01), transparent);

    border-radius: 10px;
}

article > h2 {
    margin-bottom: 15px;
    padding: 5px;

    color: var(--cor04);

    background: linear-gradient(to right, var(--cor01), transparent);

    border-radius: 10px;
}

main h3 {
   margin: 10px;
    color: var(--cor04);
}

picture img {
    margin: 10px;

    width: 90%;
}

main p {
    margin: 15px;

    text-align: justify;
}

main  img.logo {
    display: block;
    margin: auto;

    
} 


.externo {
    font-weight: bold;

    color: var(--cor04);
}

.externo::after{
    content: '\00A0\1F517';
    

}

main a {
    text-decoration: none;

    
}

aside {
    background-color: var(--cor02);

    padding: 10px 10px 15px 10px;

    border-radius: 10px 0;
}
aside h2 {
    background-color: var(--cor04);
    color: white;

    margin: -10px -10px 10px -10px;
    padding: 10px;

    border-radius: 10px 0;
}




.container {
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

   

    
}

span.item {
    align-self: center;
   
   
}


span.item img {
    font-size: 1.8em;

    width: 25px;

    
    
    
    
}

span.item a {
    font-size: 1.5em;
    

    color: white;

    

   
}

footer {

    color: var(--cor01);
    padding: 10px;

    text-align: center;

    background-color: var(--cor04);
}

